CatalogoCloud_v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:attributeGroup name="AtributosServidor">
    <xs:attribute name="id" type="TipoIdServidor" use="required" />
    <xs:attribute name="rack" type="TipoRack" use="required" />
    <xs:attribute name="estado" type="TipoEstado" use="required" />
  </xs:attributeGroup>

  <xs:group name="ComponentesHardware">
    <xs:sequence>
      <xs:element name="cpu" type="xs:string" />
      <xs:element name="ram" type="xs:string" />
      <xs:element name="gpu" type="xs:string" minOccurs="0" />
      <xs:element name="discos">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="disco" maxOccurs="8" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:simpleType name="TipoIdServidor">
    <xs:restriction base="xs:string">
      <xs:pattern value="srv-[a-z]+-[0-9]{2}" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TipoRack">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]\d{1,2}" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TipoEstado">
    <xs:restriction base="xs:string">
      <xs:pattern value="activo|mantenimiento|apagado" />
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="catalogo_cloud">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="centro_datos" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="servidor" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    
                    <xs:element name="hardware">
                      <xs:complexType>
                        <xs:group ref="ComponentesHardware" />
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="software" type="xs:string" />

                    <xs:element name="red">
                      <xs:complexType>
                        <xs:choice>
                          <xs:element name="ip_fija" type="xs:string" />
                          <xs:element name="dhcp" type="xs:string" /> </xs:choice>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="auditoria" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="fecha_revision" type="xs:date" />
                          <xs:element name="tecnico" type="xs:string" />
                          <xs:element name="nota" type="xs:string" />
                        </xs:all>
                      </xs:complexType>
                    </xs:element>

                  </xs:sequence>
                  <xs:attributeGroup ref="AtributosServidor" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="ubicacion" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:unique name="UnicoID">
      <xs:selector xpath=".//servidor" />
      <xs:field xpath="@id" />
    </xs:unique>

  </xs:element>
</xs:schema>